$headerHeight: 8vw;
$footerHeight: 5vw;
$phoneSize: 481px;

$productListColumnGap: 2%;

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#main-body{
    height: 100%;
    width: 90%;
}

header{
    height: Calc($headerHeight - 20px - 3px);
    display: flex;
    align-items: flex-end;
    padding: 10px;
    font-size: 3vw;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    
    justify-content: space-between;

    & h1{
        font-size: 3vw;
        margin: 0;
    }
}


.controll-btn{
    padding: 5px 10px;
    background-color: white;
    
    transition: all 0.3s ease;
    &:hover{
        cursor: pointer;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    }
    
}

#delete-product-btn{
    background-color: #DF4848;
    border: 2px solid #DF4848;
    color: white;
}

#product-list{
    height: Calc(100% - $footerHeight - $headerHeight);
    display: grid;
    grid-auto-rows: 20vw;
    column-gap: $productListColumnGap;
    grid-template-columns: Calc(25% - (($productListColumnGap * 3) / 4)) Calc(25% - (($productListColumnGap * 3) / 4)) Calc(25% - (($productListColumnGap * 3) / 4)) Calc(25% - (($productListColumnGap * 3) / 4));
    
    overflow-y:scroll;
    &::-webkit-scrollbar {
        display: none;
    }

    & .item-box{
        margin: auto;
        min-height: fit-content;
        height: Calc(100% - 40px + 10px - 2vw);
        width: Calc(100% - 20px - 6px);
        background-color: white;

        outline: 0px solid #DF4848;
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
        transition: all 0.1s ease;
        &:hover{
            outline: 2px solid #DF4848;
            box-shadow: 0;
        }
        &:has(div):has(input:checked){
            outline: 2px solid #DF4848;
        }
        & .item-box-data{
            text-align: center;
            font-size: 1.5vw;
        }
        & .head-base{
            height: 4vw;
            & .delete-checkbox{
                width: 1.5vw;
                height: 1.5vw;
                margin: 2vw;
                &:hover{
                    cursor: pointer;
                }
            }
        } 
        
    }
}

footer{
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    height: Calc($footerHeight - 3px);
    width: 90%;
    font-size: 1vw;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:$phoneSize){
    $headerHeight: 20vw;
    $footerHeight: 10vw;
    header{
        height: Calc($headerHeight - 20px - 3px);
        font-size: 5vw;
    }
    #product-list{
        height: Calc(100% - $footerHeight - $headerHeight);
        grid-auto-rows: 80vw;
        grid-template-columns: 100%;

        & .item-box{
            outline: 0px solid black;
            transition: all 0s ease;
            & .head-base .delete-checkbox{
                width: 7vw;
                height: 7vw;
                margin: 10px;
            }
            & .item-box-content .item-box-data{
                font-size: 8vw;
                &:hover{
                    outline: 2px solid black;
                    box-shadow: 0;
                }
            }
        }
    }
    footer{
        height: Calc($footerHeight - 3px);
        font-size: 3vw;
    }

}